#navtab {
    background-color: white;
    margin: 0;
    padding: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
}

#navtabDark {
    background-color: #262626;
    margin: 0;
    padding: 0%;
    position: fixed;
    z-index: 4;
    width: 100%;
}

#navitems {
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-sizing: border-box;
}
#resnavitems{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    align-items: center;
   justify-content: space-between;
    height: 60px;
    box-sizing: border-box;

}

.navlink {
    width: 60px;
    text-align: center;
}

.navlist:hover {
    width: 80%;
    background-color: rgb(248, 246, 246);

}

.navlistDark:hover {
    width: 80%;
    background-color: rgb(92, 90, 90);
}

.searchInput {
    height: 32px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}


.globe {
    cursor: pointer;
}

.navresponsive {
    background-color: #b92b27;
    color: white;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.resp-search{
    text-decoration: none;
    color: white;
    font-size:18px;
  
}